[Unit]
Description=0xbtc-stats-api
Wants=nginx.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/0xbtc-stats-api
ExecStart=/home/ubuntu/0xbtc-stats-api/run.sh sinatra
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
